<a href="https://colab.research.google.com/github/Jatingpt/INT/blob/main/int.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ðŸ§  Chetu AI/ML Interview Practice Kit

## âœ… 1. Subarray With Given Sum (Non-negative Integers)
def subarray_with_given_sum(arr, target):
    start = 0
    current_sum = 0
    for end in range(len(arr)):
        current_sum += arr[end]
        while current_sum > target:
            current_sum -= arr[start]
            start += 1
        if current_sum == target:
            return arr[start:end+1]
    return []

# ðŸ§ª Example
print(subarray_with_given_sum([1, 2, 3, 7, 5], 12))  # Output: [2, 3, 7]


## âœ… 2. First Missing Positive Integer
def first_missing_positive(nums):
    nums = set(nums)
    i = 1
    while i in nums:
        i += 1
    return i

print(first_missing_positive([3, 4, -1, 1]))  # Output: 2


## âœ… 3. Elements Occurring > n/4 Times
from collections import Counter

def elements_more_than_n_by_k(arr, k):
    count = Counter(arr)
    return [key for key, val in count.items() if val > len(arr) // k]

print(elements_more_than_n_by_k([1,2,2,3,3,3,4], 4))  # Output: [3]


## âœ… 4. Data Cleaning + Grouping (Pandas)
import pandas as pd

def clean_and_group_data(df):
    df.dropna(inplace=True)
    df['total'] = df['price'] * df['quantity']
    return df.groupby('category')['total'].sum().reset_index()

# ðŸ§ª Sample
sample_df = pd.DataFrame({
    'category': ['A', 'B', 'A', 'B'],
    'price': [100, 200, 150, 250],
    'quantity': [2, 1, 3, 1]
})
print(clean_and_group_data(sample_df))


## âœ… 5. NumPy Matrix Operations
import numpy as np

def matrix_operations():
    A = np.array([[1, 2], [3, 4]])
    B = np.array([[5, 6], [7, 8]])
    return A + B, A @ B, np.linalg.inv(A)

sum_, prod_, inv_ = matrix_operations()
print("Sum:\n", sum_)
print("Product:\n", prod_)
print("Inverse of A:\n", inv_)


## âœ… 6. Logistic Regression Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

def logistic_regression_pipeline(X, y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    model = LogisticRegression()
    model.fit(X_train, y_train)
    return accuracy_score(y_test, model.predict(X_test))


## âœ… 7. Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier

def decision_tree_example(X, y):
    model = DecisionTreeClassifier()
    model.fit(X, y)
    return model.predict(X)


## âœ… 8. Feature Engineering Example
def feature_engineering(df):
    df['price_log'] = np.log1p(df['price'])
    df['interaction'] = df['price'] * df['quantity']
    return df


## âœ… 9. TF-IDF Vectorization for NLP
from sklearn.feature_extraction.text import TfidfVectorizer

def get_tfidf_features(texts):
    vectorizer = TfidfVectorizer(ngram_range=(1,2), stop_words='english')
    return vectorizer.fit_transform(texts)


## ðŸ”„ Example Usage of TF-IDF
texts = ["I love AI and ML", "ML and AI are the future"]
tfidf_matrix = get_tfidf_features(texts)
print(tfidf_matrix.shape)  # Sparse matrix shape


## ðŸ§  Interview Question Ideas:
# 1. Write code to remove outliers from a dataset using IQR method.
# 2. Explain the difference between overfitting and underfitting with a live ML example.
# 3. What is the purpose of 'stratify=y' in train_test_split?
# 4. Build a neural network with 3 layers using PyTorch or Keras.
# 5. Write SQL query to rank products within categories by sales.
# 6. Implement cosine similarity function from scratch.
# 7. Build an end-to-end pipeline for spam classification using TF-IDF + Naive Bayes.
# 8. Predict house prices using linear regression and evaluate using R^2 and MAE.
# 9. Create a dashboard using Plotly/Matplotlib to show sales trends.
# 10. Use GridSearchCV for hyperparameter tuning of a RandomForestClassifier.

[2, 3, 7]
2
[2, 3]
  category  total
0        A    650
1        B    450
Sum:
 [[ 6  8]
 [10 12]]
Product:
 [[19 22]
 [43 50]]
Inverse of A:
 [[-2.   1. ]
 [ 1.5 -0.5]]
(2, 8)

In [ ]:
#Square of first 10 numbers
for i in range(1,11):
  print(i, i*i)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
#To find first 10 non-repeating character.
def first_non_repeating(s):
  from collections import Counter
  char_count = Counter(s)
  for char in s:
    if char_count[char] == 1:
      return char
  return None

s = "aabbclcddeffg"
result = first_non_repeating(s)
result

'l'

In [ ]:
#find the largest and second largest number in a list.
a = [11,23,21,34,5,55,33,22,677,222,348,383]
a.sort(reverse = True)
print("The largest number in this list is", a[0])
print("The second largest number in this list is", a[1])

The largest number in this list is 677
The second largest number in this list is 383

In [ ]:
#reverse a string without using reverse and slice method.
a = "ris olleh"
rev_str = ""
for i in a:
  rev_str = i + rev_str
print(rev_str)

hello sir

In [ ]:
#find the sum of first 20 number.
sum = 0
for i in range(2,41):
  sum = sum+i
print(sum)

819

In [ ]:
#remove duplicate values from a list.
a = [1,2,3,1,2,1,3,1,2,13]
a = set(a)
print(list(a))

[1, 2, 3, 13]

In [ ]:
#to check whether the passed letter is a string or not.
letter = input('Pass the letter to check the vowels: ')
if letter in "AEIOUaeiou":
  print("This is a vowel.")
else:
  print("Not a vowel")

Pass the letter to check the vowels: e
This is a vowel.

In [ ]:
#three ways to format.
name = "Jatin"
salary = "4300"
print(f"My name is {name}, salary is {salary}")
print("My name is {}, salary is {}".format(name, salary))
print("My name is {0}, salary is {1}".format(name,salary))

My name is Jatin, salary is 4300
My name is Jatin, salary is 4300
My name is Jatin, salary is 4300

In [ ]:
#for a given list rotate the list by one position
lst = [10, 20, 30, 40]
def rotate_right_by_one(lst):
    if not lst:
        return lst
    return [lst[-1]] + lst[:-1]
rotated = [lst[-1]] + lst[:-1] if lst else lst
print(rotate_right_by_one(lst))

[40, 10, 20, 30]

In [ ]:
#to check if two list have any common elements.
a = [1,2,3,4,5]
b = [4,5,6,7,8]
a = set(a)
b = set(b)
print(list(a.intersection(b)))

[4, 5]

In [ ]:
#flatten a nested list
a = [[1,2], [3,4], [5,6]]
flatten_list = [i for i in a for i in i]
flatten_list

[1, 2, 3, 4, 5, 6]

In [ ]:
a[0]+a[1]+a[2]

[1, 2, 3, 4, 5, 6]

In [ ]:
#find the cumulative sum of elements in a list.
from itertools import accumulate
a = [1,2,3,4,5,6,7,8,9,10]
cum_sum = list(accumulate(a))
cum_sum

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [ ]:
#swap two variable
a = 45
b = 32
a,b = b,a
print(a)
print(b)

32
45

In [ ]:
#remove duplicates from a list while preserving the orders.
a = [1,2,3,23,2,3,2,3,2,3,4443,2,442,2]
unique = list(dict.fromkeys(a))
print(unique)

[1, 2, 3, 23, 4443, 442]

In [ ]:
#calculate the frequency of each character in a string
from collections import Counter
a = "banana"
freq = Counter(a)
freq

Counter({'b': 1, 'a': 3, 'n': 2})

In [ ]:
#Check if two strings are anagram.
def are_anagram(str1,str2):
  return sorted(str1) == sorted(str2)

print(are_anagram("listen","silent"))

True

In [ ]:
#check if a number is prime.
def check_prime(n):
  if n <= 1:
    print("Not a prime number.")
  else:
    for i in range(2, int(n**0.5) + 1):
      if n % i == 0:
        print("Not a prime number.")
        break
    else:
      print("A prime number.")
check_prime(7)

A prime number.

In [ ]:
#check palindrome
n = input("Enter anything to find the palindrome: ")
if n == n[::-1]:
  print("It is a palindrome.")
else:
  print("Not a palindrome.")

Enter anything to find the palindrome: 33222
Not a palindrome.

In [ ]:
#fibonacci series.
def fibonacci(n):
  a,b = 0,1
  for i in range(n):
    print(a, end = " ")
    c = a + b
    a = b
    b = c
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [ ]:
#to find the second largest number in a string
a = "1,2,3,4,5,6"
a = list(a)
a.sort(reverse = True)
print(a[1])

5

In [ ]:
def fact(n):
  if n == 1:
    return n
  else:
    return n * fact(n-1)
fact(4)

24

In [ ]:
#to check if the passed digit is single digit or double digit, so on and so forth.

Counter({'b': 1, 'a': 3, 'n': 2})

In [ ]:
#sort a dictionary by their values
a = {"age" : [12,42,13,56,43]}
sorted_dict = {"age": sorted(a["age"])}
sorted_dict

{'age': [12, 13, 42, 43, 56]}

In [ ]:
b = {"n" : [3,2,4,2,4,24,3]}
sorted_dict = {"n" : sorted(b["n"])}
sorted_dict

{'n': [2, 2, 3, 3, 4, 4, 24]}

In [ ]:
#merge two sorted list without using list built in function.

# a = [3,4,2,4]
# b = [3,2,4,25,3]
# a.sort()
# b.sort()
# print(a)
# print(b)
# c = a + b
# print(c)
# c.sort()
# print(c)

[2, 3, 4, 4]
[2, 3, 3, 4, 25]
[2, 3, 4, 4, 2, 3, 3, 4, 25]
[2, 2, 3, 3, 3, 4, 4, 4, 25]

In [ ]:
#rotate a list by k position
def rotate_list(lst, k):
    k = k % len(lst)  # To handle k > len(lst)
    return lst[-k:] + lst[:-k]

lst = [1, 2, 3, 4, 5]
k = 4
print(rotate_list(lst, k))

[2, 3, 4, 5, 1]

In [ ]:
#groups the words that are anagram together.

from collections import defaultdict

def group_anagrams(words):
    groups = defaultdict(list)
    for word in words:
        key = ''.join(sorted(word))
        groups[key].append(word)
    return list(groups.values())
words = ["act", "cat", "bat", "tab", "tac"]
print(group_anagrams(words))





# def group_anagrams(words):
#     groups = {}
#     for word in words:
#         key = ''.join(sorted(word))
#         if key not in groups:
#             groups[key] = []
#         groups[key].append(word)
#     return list(groups.values())

[['act', 'cat', 'tac'], ['bat', 'tab']]

In [ ]:
#to count null in a dictionary.
def count_nulls(d):
    count = 0
    for v in d.values():
        if v is None:
            count += 1
    return count
def count_nulls(d):
    return list(d.values()).count(None)
data = {'a': None, 'b': 2, 'c': None, 'd': 4}
print(count_nulls(data))

2

In [ ]:
#fibonacci series using for loop and input method
n = int(input("Enter how many terms: "))
a, b = 0, 1

for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b

Enter how many terms: 10
0 1 1 2 3 5 8 13 21 34

In [ ]:
###

In [ ]:
#write a program to separate the following string into csv.

a = "ootd,yolo,asap"
#a = "apple banana mango orange"
csv_data = ",".join(a.split())
print(csv_data)

ootd,yolo,asap

In [ ]:
#write a program to sort a string alphabatecally
text = input("Enter a string: ")
sorted_text = ''.join(sorted(text))
print("Sorted string:", sorted_text)

Enter a string: banana
Sorted string: aaabnn

In [ ]:
#write a program to remove only given character of the string.
z = "F.R.I.E.N.D.S"
char_to_remove = "."  # character to remove

new_z = z.replace(char_to_remove, "")
print("String after removal:", new_z)

String after removal: FRIENDS

In [ ]:
#Write a program to remove dot from the given string.
z = "F.RIENDS"
char_to_remove = "."  # character to remove

new_z = z.replace(char_to_remove, "")
print("String after removal:", new_z)

String after removal: FRIENDS

In [ ]:
#Write a program to find the number of vowels from a string.
text = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)


# from collections import Counter

# text = input("Enter a string: ")
# vowels = "aeiouAEIOU"

# # Count all characters
# counter = Counter(text)

# # Sum the counts of vowels
# vowel_count = sum(counter[v] for v in vowels)

# print("Number of vowels:", vowel_count)

Enter a string: aaaaaaaaaat
Number of vowels: 10

In [ ]:
#write a program to swap first and forth element
a= [1,2,3,4,5]
a[0],a[3] = a[3],a[0]
print(a)

[4, 2, 3, 1, 5]

In [ ]:
#add a new value at second position in a list
lst = [10, 20, 30, 40]
new_value = 15

lst.insert(1, new_value)  # index 1 is the second position
print(lst)

[10, 15, 20, 30, 40]

In [ ]:
#write a program to multiply all the numbers in a list
a = [1,2,3,4]
mul = 1
for i in a:
  mul *= i
print(mul)

24

In [ ]:
################### Tuple

In [ ]:
#Convert the following dictionary into json format
std_data = {"Name": "David", "Age": 13, "Marks": 68}

#access the value age fromm the above data
print(std_data["Age"])

#pretty print the following json format.

#sort the following json keys and write them into a file.
#write a python program to sort a dictionary by values
#write a python program or script where numbers are between 1 and 10 arre keys and values will be their squares.
#write a program to multiply all items in a dictionary.
#sort a dictionary by key.

13

In [ ]:
#write a python program to sort a dictionary by values
std_data = {"salary": 15000, "Age": 13, "Marks": 68}
std_data = sorted(std_data.values())
print(std_data)                                           #NOTE- Please make sure that all values should be in int or alphabet, otherwish code will give error because it is impossible to sort between number and alphabets

std_id =  {"name": "Abhilasha", "email": "guptaabhilasha", "surname": "Gupta"}
std_id = sorted(std_id.values())
std_id

[13, 68, 15000]

['Abhilasha', 'Gupta', 'guptaabhilasha']

In [ ]:
#write a python program or script where numbers are between 1 and 10 arre keys and values will be their squares.
a = {}
for i in range(1,11):
  a[i] = i*i
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#write a program to multiply all items in a dictionary.
dic = {"a": 1, "b": 2, "c": 3}
mul = 1
for i in dic:
  mul = mul*dic[i]
print(mul)

6

In [ ]:
#sort a dictionary by key.
a = {1: "a", 2: "b", 3: "e", 5: "d", 4: "d"}
a = sorted(a.keys())
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#################  Sets

In [ ]:
#write a program to find max and min from a set
#write a program to find the common elements in three lists using sets
#write a program to find difference between two sets
#to remove an item from a set if it is present.

In [ ]:
#write a program to find max and min from a set
a = {3,2,34,2,4,2,3}
# max(a)

# min(a)

2

In [ ]:
#write a program to find the common elements in three lists using sets
a = [1,2,3,4]
b = [3,4,5]
c = [3,4,2]
a = set(a)
b = set(b)
c = set(c)

# common = a.intersection(b,c)
# print(common)

#or

common = print(set(a)&set(b)&set(c))
common

{3, 4}

In [ ]:
#write a program to find difference between two sets
a = {1,2,3}
b = {3,4,5,6}
a.difference(b)
a

{1, 2, 3}

In [ ]:
#write a program to remove an item from a set if it is present in the set.
s = {1,2,3,3,4,5}
# s.remove(2)
# s


#we can also use discard method

s.discard(3)
print(s)

{1, 2, 4, 5}

In [ ]:
##############functions

In [ ]:
#write a program to find the maximum of three numbers.
#write a functionn to create and print a list where the values are square of the number between 1 and 10
#write a function that takes number as a parameter and check if the number is prime or not.
#write a functionn to sum all the numbers in a list
#write a functionn to solve fibonacci series.

In [ ]:
#write a program or function to find the maximum of three numbers.
def max_num(a,b,c):
  if a > b and a > c:
    print(a,"is the maximum number.")
  elif b > a and b > c:
    print(b,"is the maximum number.")
  else:
    print(c, "is the maximum number.")
max_num(3,4,2)

4 is the maximum number.

In [ ]:
#write a function to create and print a list where the values are square of the number between 1 and 10.
def creat_list():
    lis = []
    for i in range(1, 11):
        lis.append(i * i)
    return lis

print(creat_list())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#write a function that takes number as a parameter and check if the number is prime or not.

# n = int(input("enter the number to check the prime or not: "))
# def check_prime(n):
#   if n <= 1:
#     print("not a prime number.")
#   else:
#     for i in range(2,int(n**0.5) + 1):
#       if n % i == 0:
#         print("not a prime number.")
#         break
#     else:
#       print("prime number")
# check_prime(n)

#or

# def check_prime(num):
#   if num == 1:
#     print("Not a prime number")
#     if num == 2:
#       print("prime number.")               #here it is again not working please check why?
#       if num > 2:
#         for i in range(2,num):
#           if i % num == 0:
#            print("it is not a prime number.")
#           break
#         else:
#           print("prime number")

In [ ]:
#write a function to sum all the numbers in a list
def add(numbers):
  total = 0
  for i in numbers:
    total += i
  return total

print(add([1,2,3]))

6

In [ ]:
#function for fibonacci series.
def fs(num):
  if num == 1:
    return (0)
  elif num == 2:
    return (1)
  else:
    return(fs(num-1)+fs(num-2))
print(fs(10))

34

In [ ]:
                                                        #WS Cube Tech
#To add two numbers
num1 = 34
num2 = 32
sum = num1 + num2
print(sum)

66

In [ ]:
#To find the square root of a number
a = 36
sqr_root = a**0.5
print(sqr_root)

import math
num = int(input("Enter a number here: "))
sq_root = math.sqrt(num)
print(sq_root)

6.0
Enter a number here: 9
3.0

In [ ]:
#Program to check the leap year
leap = 2000

if leap % 4 == 0 and leap % 100 != 0:
  print("It is a leap year.")
elif leap % 100 == 0 and leap % 400 == 0:
  print("Yes, It is a leap year.")
else:
  print("Not a leap year")

Yes, It is a leap year.

In [ ]:
#To find the largest amoung the three number.
def largest(a,b,c):
  if a > b and a > c:
    print(a," is the largest number.")
  elif b > a and b > c:
    print(b, "is the largest number.")
  else:
    print(c, "is the largest number.")
largest(3,0,2)

3  is the largest number.

In [ ]:
#To find the prime number.
def check_prime(a):
  if a <= 1:
    print("It is not a prime number.")
  else:
    for i in range(2,int(a**0.5)+1):
      if a % i == 0:
        print("It is not a prime number.")
        break
    else:
      print("Yes, It is a prime number")
check_prime(17)


num = int(input('Enter a number here: '))
if num == 1:
  print("It is not a prime number.")
if num > 1:
  for i in range(2,num):
    if num % i == 0:
      print("Not a prime number.")
      break
  else:
    print("It is a prime number.")

Yes, It is a prime number
Enter a number here: 9
Not a prime number.

In [ ]:
#To find all the prime number in an interval.
low = 0
upper = 50
for num in range(low, upper + 1):
  if num > 1:
    for i in range(2,num):
      if num % i == 0:
        break
    else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
import numpy as np
a = np.random.randint(1,3)
print(a)

2

In [ ]:
#To find the factorial of a number.
def fact(n):
  if n == 0:
    return 1
  else:
    return n * fact(n-1)
fact(5)

num = int(input("Enter a number here: "))
fact = 1
if num < 0:
  print("The factorial of 0 doesn't exist.")
if num == 0:
  print("The factorial of 0 is 1")
if num > 0:
  for i in range(1,num + 1):
    fact = fact * i
print("The factorial of the number is", fact)

Enter a number here: 7
The factorial of the number is 5040

In [2]:
#Tuple
stu_data = {"Name" : "Jatin","Age": 30, "Salary": 100000}
stu_data["Age"]

30

In [5]:
sorted_stu_data = sorted(stu_data.keys())
print(sorted_stu_data)

['Age', 'Name', 'Salary']

In [9]:
emp_dict = {}
for i in range(1,11):
  emp_dict[i] = i * i
print(emp_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [11]:
mul = 1
a = {"a" : 2, "b" : 4, "c" : 1, "d" : 8}
for i in a:
  mul = mul * a[i]
print(mul)

64

In [14]:
em_dic = {}
for i in range(1,11):
  em_dic[i] = i * i
print(em_dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [15]:
dic = {}
for i in range(1,11):
  dic[i] = i * i
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [16]:
mul = 1
a = {"a" : 2, "b" : 4, "c" : 1, "d" : 8}
for i in a:
  mul = mul * a[i]
print(mul)

64

In [19]:
a = {1,2,3,2,3,12,3,4,5,6,6,6,65,4,4,34,3,3,3,3,3,3,322,99,2,2}
max(a)
min(a)

1

In [21]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}
c = {5,6,7,8,9}
d = a.intersection(b)
e = d.intersection(c)
print(e)

{5}

In [26]:
se = {2,3,4,2,3,3,2,4,4,3}
se

{2, 3, 4}

In [27]:
def max_num(a,b,c):
  if a > b and a > c:
    print(a, "is the highest number.")
  elif b > a and b > c:
    print(b, "is the highest number.")
  else:
    print(c, "is the highest")
max_num(3,2,5)

5 is the highest

In [30]:
n = int(input("Enter the number to find the squares: "))
def sq(n):
  for i in range(1,n):
    print(i * i)
sq(n)

Enter the number to find the squares: 5
1
4
9
16

In [33]:
def is_prime(n):
  if n < 1:
    print("It is not a prime number.")
  if n == 2:
    print("It is not a prime number.")
  if n > 2:
    for i in range(2,n):
      if n % i == 0:
        print("Not a prime number.")
        break
    else:
      print("It is a prime number.")
is_prime(5)

It is a prime number.

In [48]:
l = [1,2,3,4]
def mul(l):
  mu = 1
  for i in l:
    mu *= i
  print(mu)
mul(l)

24

In [50]:
def fibonacci(n):
  a,b = 0,1
  for i in range(n):
    print(a, end = " ")
    c = a + b
    a = b
    b = c
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [53]:
a = [1,2,3,4,5,6]
from itertools import accumulate
cum_sum = list(accumulate(a))
print(cum_sum)

[1, 3, 6, 10, 15, 21]

In [54]:
dup = [1,2,23,2,3,34,43,4,5,5,35]
unique = list(dict.fromkeys(dup))
print(unique)

[1, 2, 23, 3, 34, 43, 4, 5, 35]

In [56]:
a = {"a": 3, "b" : 9, "c" : 5}
sort_dic = sorted(a.values())
sort_dic

[3, 5, 9]

In [59]:
a = "ab.c.s.d.s.d"
a.replace(".", ",")

'ab,c,s,d,s,d'

In [61]:
a = "banana"
a = sorted(a)
a

['a', 'a', 'a', 'b', 'n', 'n']

In [70]:
a = "aabcdd"
b = a.replace("a","")
print(list(b))

['b', 'c', 'd', 'd']

In [72]:
b = [i for i in a if i != "a"]
b

['b', 'c', 'd', 'd']

In [74]:
vow = "aans"
total = 0
for i in vow:
  if i in "aeiouAEIOU":
    total += 1
print(total)

2

In [77]:
dic = {}
for i in range(1,11):
  dic[i] = i * i
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [83]:
a = {"a": 3, "b" : 9, "c" : 5}
mul = 1
for i in a:
  mul *= a[i]
print(mul)

135

In [85]:
a = {"a": 3, "b" : 9, "c" : 5}
mul = 1
for i in a:
  mul *= a[i]
print(mul)

135

In [86]:
se = {3,2,3,2,3}
se.remove(3)
se

{2}

In [89]:
def create_lis():
  lis = []
  for i in range(1,11):
    lis.append(i*i)
  return lis
create_lis()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [91]:
a = [12,23,23]
sum = 0
for i in a:
  sum += i
print(sum)

58

In [96]:
a = 36
a = a ** 0.5
print(a)

6.0

In [97]:
leap = 2000
if leap % 4 == 0 and leap % 100 != 0:
  print("It is a leap year.")
elif leap % 100 == 0 and leap % 400 == 0:
  print("leap year")
else:
  print("Not a leap year")

leap year

In [99]:
low = 0
high = 50
for num in range(low, high+1):
  if num > 1:
    for i in range(2,num):
      if num % i == 0:
        break
    else:
      print(num, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47