<a href="https://colab.research.google.com/github/Jatingpt/INT/blob/main/int.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Square of first 10 numbers
for i in range(1,11):
  print(i, i*i)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [4]:
#To find first 10 non-repeating character.
def first_non_repeating(s):
  from collections import Counter
  char_count = Counter(s)
  for char in s:
    if char_count[char] == 1:
      return char
  return None

s = "aabbclcddeffg"
result = first_non_repeating(s)
result

'l'

In [8]:
#find the largest and second largest number in a list.
a = [11,23,21,34,5,55,33,22,677,222,348,383]
a.sort(reverse = True)
print("The largest number in this list is", a[0])
print("The second largest number in this list is", a[1])

The largest number in this list is 677
The second largest number in this list is 383

In [10]:
#reverse a string without using reverse and slice method.
a = "ris olleh"
rev_str = ""
for i in a:
  rev_str = i + rev_str
print(rev_str)

hello sir

In [11]:
#find the sum of first 20 number.
sum = 0
for i in range(2,41):
  sum = sum+i
print(sum)

819

In [13]:
#remove duplicate values from a list.
a = [1,2,3,1,2,1,3,1,2,13]
a = set(a)
print(list(a))

[1, 2, 3, 13]

In [15]:
#to check whether the passed letter is a string or not.
letter = input('Pass the letter to check the vowels: ')
if letter in "AEIOUaeiou":
  print("This is a vowel.")
else:
  print("Not a vowel")

Pass the letter to check the vowels: e
This is a vowel.

In [19]:
#three ways to format.
name = "Jatin"
salary = "4300"
print(f"My name is {name}, salary is {salary}")
print("My name is {}, salary is {}".format(name, salary))
print("My name is {0}, salary is {1}".format(name,salary))

My name is Jatin, salary is 4300
My name is Jatin, salary is 4300
My name is Jatin, salary is 4300

In [23]:
#for a given list rotate the list by one position
def rotate_right_by_one(lst):
    if not lst:
        return lst
    return [lst[-1]] + lst[:-1]
rotated = [lst[-1]] + lst[:-1] if lst else lst
lst = [10, 20, 30, 40]
print(rotate_right_by_one(lst))

[40, 10, 20, 30]

In [24]:
def rotate_one(lis):
  if not lis:
    return lis
  return [lis[-1]] + lis[:-1]
rotated = [lis[-1]] + lis[:-1] if lis else lis
lis = [10,30,50,70]
print(rotate_one(lis))

[70, 10, 30, 50]

In [26]:
#to check if two list have any common elements.
a = [1,2,3,4,5]
b = [4,5,6,7,8]
a = set(a)
b = set(b)
print(list(a.intersection(b)))

[4, 5]

In [27]:
#flatten a nested list
a = [[1,2], [3,4], [5,6]]
flatten_list = [i for i in a for i in i]
flatten_list

[1, 2, 3, 4, 5, 6]

In [28]:
a[0]+a[1]+a[2]

[1, 2, 3, 4, 5, 6]

In [29]:
#find the cumulative sum of elements in a list.
from itertools import accumulate
a = [1,2,3,4,5,6,7,8,9,10]
cum_sum = list(accumulate(a))
cum_sum

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [30]:
#swap two variable
a = 45
b = 32
a,b = b,a
print(a)
print(b)

32
45

In [31]:
#remove duplicates from a list while preserving the orders.
a = [1,2,3,23,2,3,2,3,2,3,4443,2,442,2]
unique = list(dict.fromkeys(a))
print(unique)

[1, 2, 3, 23, 4443, 442]

In [32]:
#calculate the frequency of each character in a string
from collections import Counter
a = "banana"
freq = Counter(a)
freq

Counter({'b': 1, 'a': 3, 'n': 2})

In [34]:
#Check if two strings are anagram.
def are_anagram(str1,str2):
  return sorted(str1) == sorted(str2)

print(are_anagram("listen","silent"))

True

In [40]:
#check if a number is prime.
def check_prime(n):
  if n <= 1:
    print("Not a prime number.")
  else:
    for i in range(2, int(n**0.5) + 1):
      if n % i == 0:
        print("Not a prime number.")
        break
    else:
      print("A prime number.")
check_prime(7)

A prime number.

In [42]:
#check palindrome
n = input("Enter anything to find the palindrome: ")
if n == n[::-1]:
  print("It is a palindrome.")
else:
  print("Not a palindrome.")

Enter anything to find the palindrome: 33222
Not a palindrome.

In [44]:
#fibonacci series.
def fibonacci(n):
  a,b = 0,1
  for i in range(n):
    print(a, end = " ")
    c = a + b
    a = b
    b = c
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [49]:
#to find the second largest number in a string
a = "1,2,3,4,5,6"
a = list(a)
a.sort(reverse = True)
print(a[1])

5

In [51]:
def fact(n):
  if n == 1:
    return n
  else:
    return n * fact(n-1)
fact(4)

24

In [56]:
#to check if the passed digit is single digit or double digit, so on and so forth.

Counter({'b': 1, 'a': 3, 'n': 2})

In [68]:
#sort a dictionary by their values
a = {"age" : [12,42,13,56,43]}
sorted_dict = {"age": sorted(a["age"])}
sorted_dict

{'age': [12, 13, 42, 43, 56]}

In [70]:
b = {"num": [1,2,32,1,3,31,2,1,32,2]}
sorted_dict = {"num" : sorted(a["age"])}
sorted_dict

{'num': [12, 13, 42, 43, 56]}