<a href="https://colab.research.google.com/github/Jatingpt/INT/blob/main/int.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Square of first 10 numbers
for i in range(1,11):
  print(i, i*i)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
#To find first 10 non-repeating character.
def first_non_repeating(s):
  from collections import Counter
  char_count = Counter(s)
  for char in s:
    if char_count[char] == 1:
      return char
  return None

s = "aabbclcddeffg"
result = first_non_repeating(s)
result

'l'

In [ ]:
#find the largest and second largest number in a list.
a = [11,23,21,34,5,55,33,22,677,222,348,383]
a.sort(reverse = True)
print("The largest number in this list is", a[0])
print("The second largest number in this list is", a[1])

The largest number in this list is 677
The second largest number in this list is 383

In [ ]:
#reverse a string without using reverse and slice method.
a = "ris olleh"
rev_str = ""
for i in a:
  rev_str = i + rev_str
print(rev_str)

hello sir

In [ ]:
#find the sum of first 20 number.
sum = 0
for i in range(2,41):
  sum = sum+i
print(sum)

819

In [ ]:
#remove duplicate values from a list.
a = [1,2,3,1,2,1,3,1,2,13]
a = set(a)
print(list(a))

[1, 2, 3, 13]

In [ ]:
#to check whether the passed letter is a string or not.
letter = input('Pass the letter to check the vowels: ')
if letter in "AEIOUaeiou":
  print("This is a vowel.")
else:
  print("Not a vowel")

Pass the letter to check the vowels: e
This is a vowel.

In [1]:
#three ways to format.
name = "Jatin"
salary = "4300"
print(f"My name is {name}, salary is {salary}")
print("My name is {}, salary is {}".format(name, salary))
print("My name is {0}, salary is {1}".format(name,salary))

My name is Jatin, salary is 4300
My name is Jatin, salary is 4300
My name is Jatin, salary is 4300

In [ ]:
#for a given list rotate the list by one position
def rotate_right_by_one(lst):
    if not lst:
        return lst
    return [lst[-1]] + lst[:-1]
rotated = [lst[-1]] + lst[:-1] if lst else lst
lst = [10, 20, 30, 40]
print(rotate_right_by_one(lst))

[40, 10, 20, 30]

In [ ]:
def rotate_one(lis):
  if not lis:
    return lis
  return [lis[-1]] + lis[:-1]
rotated = [lis[-1]] + lis[:-1] if lis else lis
lis = [10,30,50,70]
print(rotate_one(lis))

[70, 10, 30, 50]

In [ ]:
#to check if two list have any common elements.
a = [1,2,3,4,5]
b = [4,5,6,7,8]
a = set(a)
b = set(b)
print(list(a.intersection(b)))

[4, 5]

In [ ]:
#flatten a nested list
a = [[1,2], [3,4], [5,6]]
flatten_list = [i for i in a for i in i]
flatten_list

[1, 2, 3, 4, 5, 6]

In [ ]:
a[0]+a[1]+a[2]

[1, 2, 3, 4, 5, 6]

In [ ]:
#find the cumulative sum of elements in a list.
from itertools import accumulate
a = [1,2,3,4,5,6,7,8,9,10]
cum_sum = list(accumulate(a))
cum_sum

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [ ]:
#swap two variable
a = 45
b = 32
a,b = b,a
print(a)
print(b)

32
45

In [ ]:
#remove duplicates from a list while preserving the orders.
a = [1,2,3,23,2,3,2,3,2,3,4443,2,442,2]
unique = list(dict.fromkeys(a))
print(unique)

[1, 2, 3, 23, 4443, 442]

In [ ]:
#calculate the frequency of each character in a string
from collections import Counter
a = "banana"
freq = Counter(a)
freq

Counter({'b': 1, 'a': 3, 'n': 2})

In [ ]:
#Check if two strings are anagram.
def are_anagram(str1,str2):
  return sorted(str1) == sorted(str2)

print(are_anagram("listen","silent"))

True

In [ ]:
#check if a number is prime.
def check_prime(n):
  if n <= 1:
    print("Not a prime number.")
  else:
    for i in range(2, int(n**0.5) + 1):
      if n % i == 0:
        print("Not a prime number.")
        break
    else:
      print("A prime number.")
check_prime(7)

A prime number.

In [ ]:
#check palindrome
n = input("Enter anything to find the palindrome: ")
if n == n[::-1]:
  print("It is a palindrome.")
else:
  print("Not a palindrome.")

Enter anything to find the palindrome: 33222
Not a palindrome.

In [ ]:
#fibonacci series.
def fibonacci(n):
  a,b = 0,1
  for i in range(n):
    print(a, end = " ")
    c = a + b
    a = b
    b = c
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [ ]:
#to find the second largest number in a string
a = "1,2,3,4,5,6"
a = list(a)
a.sort(reverse = True)
print(a[1])

5

In [ ]:
def fact(n):
  if n == 1:
    return n
  else:
    return n * fact(n-1)
fact(4)

24

In [ ]:
#to check if the passed digit is single digit or double digit, so on and so forth.

Counter({'b': 1, 'a': 3, 'n': 2})

In [ ]:
#sort a dictionary by their values
a = {"age" : [12,42,13,56,43]}
sorted_dict = {"age": sorted(a["age"])}
sorted_dict

{'age': [12, 13, 42, 43, 56]}

In [ ]:
b = {"num": [1,2,32,1,3,31,2,1,32,2]}
sorted_dict = {"num" : sorted(a["age"])}
sorted_dict

{'num': [12, 13, 42, 43, 56]}

In [7]:
#merge two sorted list without using list built in function.





# a = [3,4,2,4]
# b = [3,2,4,25,3]
# a.sort()
# b.sort()
# print(a)
# print(b)
# c = a + b
# print(c)
# c.sort()
# print(c)

[2, 3, 4, 4]
[2, 3, 3, 4, 25]
[2, 3, 4, 4, 2, 3, 3, 4, 25]
[2, 2, 3, 3, 3, 4, 4, 4, 25]

In [9]:
#rotate a list by k position
def rotate_list(lst, k):
    k = k % len(lst)  # To handle k > len(lst)
    return lst[-k:] + lst[:-k]

lst = [1, 2, 3, 4, 5]
k = 4
print(rotate_list(lst, k))

[2, 3, 4, 5, 1]

In [10]:
#groups the words that are anagram together.

from collections import defaultdict

def group_anagrams(words):
    groups = defaultdict(list)
    for word in words:
        key = ''.join(sorted(word))
        groups[key].append(word)
    return list(groups.values())
words = ["act", "cat", "bat", "tab", "tac"]
print(group_anagrams(words))





# def group_anagrams(words):
#     groups = {}
#     for word in words:
#         key = ''.join(sorted(word))
#         if key not in groups:
#             groups[key] = []
#         groups[key].append(word)
#     return list(groups.values())

[['act', 'cat', 'tac'], ['bat', 'tab']]

In [11]:
def count_nulls(d):
    count = 0
    for v in d.values():
        if v is None:
            count += 1
    return count
def count_nulls(d):
    return list(d.values()).count(None)